/* 1. TIPOGRAFIAS */  
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Libertinus+Serif+Display&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cormorant SC", serif;
    background: #f9f9f9;
    color: #333;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

#global-content {
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(60, 53, 127, 0.376);
}

/* Títulos */
h1 {
    font-family: "Cormorant SC", serif;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 15px;
    color: #17191b;
}

h2, h3 {
    font-family: "Cormorant SC", serif;
    font-size: 1.4rem;
    margin: 15px 0 10px;
    color: #17191b;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

form input[type="text"]:focus {
    border-color: #855895;
}

form button {
    background: #855895;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #6c4378;
}

#cont-to-do-list,
#cont-completed-list {
    margin-bottom: 20px;
}

.item-to-do {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: background 0.3s;
}

.item-to-do:hover {
    background: #e6e6e6;
}

.item-to-do p {
    word-break: break-all;
    width: 80%;
}

.item-to-do.completed p {
    text-decoration: line-through;
    color: #888;
}

.item-to-do button {
    background: crimson; 
    color: white;      
    border: none;
    border-radius: 50%;  
    width: 24px;
    height: 24px;
    font-size: 14px;
    cursor: pointer;
    margin-left: auto;
}

.item-to-do button:hover {
    background: rgb(94, 0, 0);
}

#cont-completed-list .item-to-do p{
    text-decoration: line-through;
}


#change-style{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 12px 20px;
    background-color: #ad7ac2e4;
    color: #2a2b2cf3;
    border-radius: 60px;
    border: 1px solid #644370;
    cursor: pointer;
    font-weight: bold;

}

