/* 1. TIPOGRAFIAS */  
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Libertinus+Serif+Display&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredoka:wght@300..700&family=Moon+Dance&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background: #f9f9f9;
    color: #333;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

#global-content {
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
   
}

h1 {
    font-family: "Cormorant SC", serif;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 15px;
    color: #17191b;
}

h2 {
    font-family: "Cormorant SC", serif;
    font-size: 1.4rem;
    margin: 15px 0 10px;
    color: #17191b;
}

#form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

#form input[type="text"]:focus {
    border-color: #855895;
}

#form button {
    background: #855895;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

#form button:hover {
    background: #855895;
}

#item-to-do-list {
    margin-bottom: 20px;
}

.cont-to-do, 
.cont-complet-list-check {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: background 0.3s;
}

.cont-to-do:hover, 
.cont-complet-list-check:hover {
    background: #e6e6e6;
}

.cont-complet-list-check p {
    text-decoration: line-through;
    color: #888;
}

.cont-complet-list-check button{
    background: crimson; 
    color: white;      
    border: none;
    border-radius: 50%;  
    width: 24px;
    height: 24px;
    font-size: 14px;
    cursor: pointer;
    margin-left: auto;
}

.cont-complet-list-check button:hover {
  background: rgb(94, 0, 0);
}


    

